root = true

[*]
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.{txt,build,json,xml,xml.in,in}]
indent_size = 2

[*.{vala,py}]
indent_size = 4
block_comment_start = /**
block_comment = *
block_comment_end = */
