root = true

[*]
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.{txt,build,json,xml,xml.in,in,py}]
indent_size = 2

[*.vala]
indent_size = 4
