Source: com.github.akiraux.akira
Section: x11
Priority: extra
Maintainer: Alessandro Castellani <castellani.ale@gmail.com>
Build-Depends: meson,
               debhelper (>= 10.5.1),
               libgtk-3-dev,
               valac (>= 0.26),
               libarchive-dev,
               libgranite-dev (>= 0.5),
               libjson-glib-dev,
               libgudev-1.0-dev,
               libevdev-dev,
               libgtksourceview-3.0-dev,
               libxml2-dev,
               libglib2.0-dev,
               libcairo2-dev,
               libgoocanvas-2.0-dev
Standards-Version: 4.1.1

Package: com.github.akiraux.akira
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Akira
 The Linux Design Tool