/* akira stylesheet */
@define-color statusBg rgba(0,0,0,0.05);
@define-color statusText rgba(0,0,0,0.4);
@define-color statusBorder rgba(0,0,0,0.1);

@define-color sideLBg rgba(0,0,0,0.02);
@define-color sideLText rgba(0,0,0,0.6);
@define-color sideLBorder rgba(0,0,0,0.05);

.statusbar {
    background-color: @statusBg;
    color: @statusText;
    border-top: 1px solid @statusBorder;
}

.sidebar-l {
    background-color: @sideLBg;
    border-right: 1px solid @sideLBorder;
}

.sidebar-r {
    background-color: @sideLBg;
    border-left: 1px solid @sideLBorder;
}

.headerbar-button:checked,
.headerbar-button:active {
    background: none;
}

.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.search-input {
    font-size: 8px;
}