/* akira stylesheet */
@define-color primary #ffa90e;
@define-color secondary #feba13;

@define-color statusBg rgba(0,0,0,0.05);
@define-color statusText rgba(0,0,0,0.4);
@define-color statusBorder rgba(0,0,0,0.1);

@define-color sideLBg rgba(0,0,0,0.02);
@define-color sideLText rgba(0,0,0,0.6);
@define-color sideLBorder rgba(0,0,0,0.05);

.statusbar {
    background-color: @statusBg;
    color: @statusText;
    border-top: 1px solid @statusBorder;
}

.sidebar-l {
    background-color: @sideLBg;
    border-right: 1px solid @sideLBorder;
}

.sidebar-r {
    transition: all 240ms ease;
    background-color: #eee;
    border-left: 1px solid @sideLBorder;
}

.headerbar-button:checked,
.headerbar-button:active {
    background: none;
}

.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.border-top {
    border-top: 10px solid red;
}

.artboard {
    transition: all 240ms ease;
    background-color: #fff;
}

.artboard:hover,
.artboard:selected:hover {
    background-color: #f5f5f5;
    color: #333;
}

.artboard:selected,
.artboard:selected .revealer-button GtkImage,
.artboard:selected .layer-action GtkImage {
    color: #333;
}

/*.artboard.hover-up {
    box-shadow: inset 0 1px 0 @primary;
}

.artboard.hover-down {
    box-shadow: inset 0 0 0 1px @primary;
}*/

.highlight-drop-area .artboard:last-child {
    box-shadow: inset 0 -2px 0 #000;
}

.artboard-name {
    transition: box-shadow 160ms ease;
    font-weight: bold;
    padding: 6px 10px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #ccc;
}

.artboard-edit-name {
    transition: box-shadow 160ms ease;
    font-weight: bold;
    padding: 6px 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.artboard-container {
    background-color: #fff;
}

.artboard-container .layer:nth-child(even) {
    background-color: #f5f5f5;
}

.revealer-button {
    padding: 0 8px;
    border-bottom: 1px solid #ccc;
}

.revealer-button GtkImage {
    transition: all 160ms ease-in-out;
}

.revealer-button.closed GtkImage {
    -gtk-icon-transform: rotate(-90deg);
}

.layer {
    transition: all 240ms ease;
    padding-left: 10px;
}

.layer.hover-up {
    box-shadow: inset 0 2px 0 @primary;
}

.layer.hover-down {
    box-shadow: inset 0 -2px 0 @primary;
}

.artboard-container .layer:last-child {
    border-bottom: 1px solid #ccc;
}

.layer.highlight {
    box-shadow: inset 0 0 0 2px @primary;
}

.layer:selected,
.layer:selected GtkImage {
    background-color: transparent;
    color: #333;
}

.layer:selected {
    box-shadow: inset 4px 0 0 @primary;
}

.layer GtkImage {
    padding-right: 4px;
    opacity: 0.8;
}

.layer-action {
    opacity: 0;
}

.layer-action.show {
    opacity: 0.5;
}

.layer-action GtkImage {
    color: #333;
}

.layer-action:hover {
    opacity: 1;
}

.pages-title {
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}