row.artboard {
    transition: box-shadow 160ms ease, background-color 160ms ease;
    background-color: shade (@bg_color, 1);
}

row.artboard label {
    font-weight: bold;
    padding: 8px 0;
}

row.artboard:hover .actions {
  opacity: 1;
}
