.label-colors {
    color: alpha (@fg_color, 0.8);
}

.disabled {
    opacity: 0.5;
}

.border-bottom {
    border-bottom: 1px solid shade (@bg_color, 0.8);
}

.rounded-color-button {
    border-radius: 12px;
    border: 1px solid transparent;
}
