.headerbar-label {
    font-size: 8pt;
}

.button-zoom {
    padding: 0 6px;
}

.button-zoom-start {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button-zoom-end {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

entry.input-zoom {
    padding: 3px 8px 4px;
    margin: 6px;
}

.linked-flat button {
    background-color: shade (@bg_color, 1);
}

.export-titlebar {
    padding: 0;
}

/* Temporary elementary OS 6 stylesheet fixes */
button.flat:disabled {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

popover.menu stack {
    padding: 6px 10px;
}
