row {
    transition: box-shadow 160ms ease, background-color 160ms ease;
}

row,
row entry {
    background-color: @base_color;
}

row label {
    padding: 8px 0;
}

row:selected {
    background-color: alpha (@accent_color, 0.4);
}

row:hover:not(:selected) {
    box-shadow: inset 0 0 0 2px @accent_color;
}

.actions button {
    opacity: 0;
}

row:hover .actions button {
    opacity: 0.5;
}

row:hover .actions button:hover,
row:hover .actions button.active,
.actions button.active {
    opacity: 1;
}

.button-toggle.collapsed image {
    -gtk-icon-transform: rotate(-90deg);
}

.grid-motion {
    background-color: alpha (@accent_color, 0.3);
}
