.layer {
    transition: box-shadow 160ms ease, background-color 160ms ease;
}

.layer,
.layer entry {
    background-color: @base_color;
}

.layer label {
    padding: 8px 0;
}

.layer:selected {
    background-color: alpha (@accent_color, 0.4);
}

.layer:hover:not(:selected) {
    box-shadow: inset 0 0 0 2px @accent_color;
}

.actions {
    transition: opacity 160ms ease;
    opacity: 0;
}

.layer:hover .actions {
    opacity: 1;
}

.actions button {
    opacity: 0.5;
}

.actions button:hover,
.actions button.active {
    opacity: 1;
}

.button-toggle.collapsed image {
    -gtk-icon-transform: rotate(-90deg);
}

.grid-motion {
    background-color: alpha (@accent_color, 0.3);
}
