.sidebar-l {
    background-color: shade (@bg_color, 0.95);
    border-right: 1px solid shade (@bg_color, 0.9);
}

.sidebar-r {
    background-color: shade (@bg_color, 0.95);
    border-left: 1px solid shade (@bg_color, 0.9);
}

.color-picker {
  padding: 8px 5px;
}

.popover-toggler {
    padding: 3px;
    margin: 3px;
}

.popover-list row {
    padding: 3px;
}

.popover-list row:selected,
.popover-list row:selected:hover {
    background-color: shade (@base_color, 0.85);
    color: shade (@fg_color, 0.7);
}

.popover-list row:hover {
    background-color: shade (@base_color, 0.9);
}

.alignment-box {
    background-color: alpha (@base_color, 0.7);
    border-bottom: 1px solid shade (@bg_color, 0.8);
    padding: 3px;
}

.alignment-box separator {
    border-right: none;
}

.button-rounded {
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
}

.group-title {
    font-size: 8pt;
    font-weight: 700;
    color: alpha (@fg_color, 0.9);
}

.entry-label {
    font-size: 8pt;
    font-weight: bold;
    color: alpha (@fg_color, 0.8);
}

.linked entry {
    padding: 3px 5px;
    border-left-width: 1px;
    border-radius: 2.5px;
}

.panel-separator {
    border: none;
}

.input-button-grid {
    margin-left: -22px;
}

.input-button-up {
    padding: 0 2px;
    border-radius: 0 2.5px 0 0;
    border-bottom-width: 0;
}

.input-button-down {
    padding: 0 2px;
    border-radius: 0 0 2.5px 0;
    border-left-width: 1px;
}