.main-canvas {
    background-color: alpha (@fg_color, 0.05);
}

.sidebar-l {
    background-color: shade (@bg_color, 0.95);
    border-right: 1px solid shade (@bg_color, 0.9);
}

.sidebar-r {
    background-color: shade (@bg_color, 0.95);
    border-left: 1px solid shade (@bg_color, 0.9);
}

.layers-panel {
    background-color: alpha (@base_color, 0.7);
}

.sidebar-export-header {
    background-color: shade (@bg_color, 0.95);
    border-radius: 4px 0 0 0;
}

.sidebar-export {
    background-color: shade (@bg_color, 0.95);
    border-radius: 0 0 0 4px;
}

.color-picker {
  padding: 8px 5px;
}

.popover-toggler {
    padding: 3px;
    margin: 3px;
}

.popover-list row {
    padding: 3px;
}

.popover-list row:selected,
.popover-list row:selected:hover {
    background-color: shade (@base_color, 0.85);
    color: shade (@fg_color, 0.7);
}

.popover-list row:hover {
    background-color: shade (@base_color, 0.9);
}

.alignment-box {
    background-color: alpha (@base_color, 0.7);
    border-bottom: 1px solid shade (@bg_color, 0.8);
    padding: 3px;
}

.alignment-box separator {
    border-right: none;
}

.button-rounded {
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
}

.group-title {
    font-size: 9pt;
    font-weight: 600;
    color: alpha (@fg_color, 0.9);
}

.entry-label {
    font-size: 8pt;
    font-weight: bold;
    color: alpha (@fg_color, 0.8);
}

.linked entry {
    padding: 3px 5px;
    border-left-width: 1px;
    border-radius: 2.5px;
}

.panel-separator {
    border: none;
}

.input-button {
    padding: 0 2pt;
    margin: 0;
}

.input-button.up {
    margin-bottom: -2pt;
}

.input-button.down {
    margin-top: -2pt;
}

paned > separator {
    min-width: 1px;
    margin-right: 0;
    margin-left: 0;
}

.export-panel {
    background-color: @bg_color;
}

.export-panel flowboxchild:focus {
    background-color: transparent;
}

.export-filename {
    background: none;
    border: none;
    box-shadow: none;
}

.export-info {
    color: alpha (@fg_color, 0.7);
    font-size: 0.85em;
}
