.statusbar {
    background-color: shade (@bg_color, 0.9);
    color: shade (@fg_color, 0.7);
    border-top: 1px solid shade (@bg_color, 0.8);
}

.sidebar-l {
    background-color: shade (@bg_color, 0.95);
    border-right: 1px solid shade (@bg_color, 0.9);
}

.sidebar-r {
    background-color: shade (@bg_color, 0.95);
    border-left: 1px solid shade (@bg_color, 0.9);
}

.border-bottom {
    border-bottom: 1px solid shade (@bg_color, 0.8);
}

.alignment-box {
  background-color: @base_color;
  border-bottom: 1pt solid shade (@bg_color, 0.8);
  padding: 3pt 5pt;
}

.alignment-box button {
  border-radius: 100%;
  padding: 3pt;
  margin: 0 3pt;
}

.alignment-box separator {
  margin: 4pt 6pt;
  border-color: @bg_color;
  border-width: 1px;
}
