name: Build

on: [pull_request]

jobs:
  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/elementary/flatpak-platform/runtime:8.2
      options: --privileged

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6.6
        with:
          bundle: akira-dev.flatpak
          manifest-path: com.github.akiraux.akira.yml
          run-tests: true
          repository-name: appcenter
          repository-url: https://flatpak.elementary.io/repo.flatpakrepo
          cache-key: "flatpak-builder-${{ github.sha }}"
